<app-ng-if></app-ng-if>
<br><br>
<app-ng-for></app-ng-for>
<br><br>
<app-ng-switch-case></app-ng-switch-case>
<br><br>
<app-ng-style></app-ng-style>
<br><br>
<app-ng-class></app-ng-class>
<br><br>
<app-operador-elvis></app-operador-elvis>
<br><br>
  <!-- <app-ng-content>
  Conteúdo passado para o componente.
</app-ng-content> -->

<app-ng-content>
  <div class="tituto">Título</div>
  <div class="content">Conteúdo</div>
  <div class="content">Conteúdo 2</div>
</app-ng-content>
<br><br>
<app-diretivas-customizadas></app-diretivas-customizadas>